AddHandler application/x-httpd-php5 .php5 .php
AddType application/x-httpd-php5 .php5 .php

AddType video/mp4 .mp4 m4v
AddType video/mpa .mpa
AddType video/ogg .ogv
AddType video/ogg .ogg oga
AddType video/webm .webm