<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Online Portfolio of Segun Konbire</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <script src="js/modernizr-latest.js"></script>
</head>
<body>
    <div id="projects" class="clearfix">
    	<div class="left-col">
            <div class="col"></div>
            <div class="col"></div>
        </div>
        <div class="right-col">
            <div class="col"></div>
            <div class="col"></div>
        </div>    	
    </div>
    
    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/backbone.js"></script>
    <script src="js/projects.js"></script>
    
    <script id="projectTemplate" type="text/template">
		<a href="#"><img src="<%= image %>" alt="<%= title %>" /></a>
    	<div class="data">
			<h2><%= title %></h2>
			<p><%= detail %></p>
			<a href="<%= url %>"><%= title %></a>
		</div>
	</script>
    
    <script type="text/javascript">
	
	(function(){
		
		var functions = {
			suhffle: function(arr){
				var o = arr;
				for(var j, x, i = o.length; i; j = parseInt(Math.random() * i), x = o[--i], o[i] = o[j], o[j] = x);
				return o;
			}			
		}

		Project = Backbone.Model.extend({
			defaults: {
				title: 'Website Name',
				detail: 'We built this site on Rock and Roll!',
				url: 'http://www.gunzalez.com',
				image: 'http://gunzalez.com/folio/nw0.png',
				col: '1'
			}
		});
		
		ProjectView = Backbone.View.extend({
			tagName: 'article',
			className: 'project',
			template: $('#projectTemplate').html(),
			render: function(){
				var tmpl = _.template(this.template);
				this.$el.html(tmpl(this.model.toJSON()));
				var that = this;
				this.$el.find('img').on('click',function(){
				 	console.log(that.model.get('detail'))
				});
				return this;
			}
		})
		
		var projectsArray = [];
		$.each(projects, function(key, project){
			projectsArray.push(new Project(project));
		});
		projectsArray = functions.suhffle(projectsArray);
		
		Projects = Backbone.Collection.extend({
			model: Project
		});
		var projectsList = new Projects(projectsArray);		
		
		ProjectsView = Backbone.View.extend({			
			el : $('#projects'),
			initialize: function(){
				this.collection = projectsList;
				this.render();
			},
			render: function(){
				//this.$el.html( template );
				var that = this;
				var cnt = 0;
				$.each(this.collection.models, function(i){					
					var projectView = new ProjectView({
						model: this.collection.models[i]
					})
					that.$el.find('.col:eq('+cnt+')').append(projectView.render().el);
					cnt++;
					if(cnt == 4){
						cnt = 0;
					}
				})
			}	
		});		
		
		var projectsView = new ProjectsView();
		
	})();

	

    </script>
</body>
</html>
