body {
	margin:10px;
	padding:10px;
	font-family: Georgia, "Times New Roman", Times, serif;
	color:#000;
	font-size: 12pt;
} 
#header, #mainNav, #sMenu, .hidden  {  position:absolute; left:-9999px; width:990px; }
body#folio #mContent ul { margin:0; padding:0; }
body#folio #mContent ul li { float:left; display:inline; margin:0 2px 2px 0; padding:0; }
body#folio #mContent ul li a { border:1px solid #ccc; display:block; } 
body#folio #mContent ul li a:hover, body#folio #mContent ul li strong a { border:1px solid #f60; display:block; } 
#mImage { margin:8px 0 10px 0; padding:0; border:1px solid #ccc; }
img { border:0; }
