
body {
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	color: #333333;
	text-align: center;
	background-color: #fff;
	font-size: x-small;
	voice-family: "\"}\"";
	voice-family:inherit;
	font-size: small;
	} 
html>body {font-size: small;}

/***** [ layout ] ******/
#wrap {
	position: relative;
	width: 628px;
	margin: 0 auto;
	text-align: left;
	padding-top:50px;
	}