body {
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	color:#949471;
	font-size: 11px;
	voice-family: "\"}\"";
	voice-family:inherit;
	font-size:11px;
	} 
html>body { font-size: 11px;}
body { background:#f0f0e6 url(../images/gunzalez_bg.gif);}
body#smallpage { background:#f0f0e6 url(../images/smallpage_bg.gif);  }
body#smallpage p { padding-right:11px; }
img { border: none; }
#wrap {
	position: relative;
	width: 742px;
	height: 514px;
	margin: 0 auto;
	margin-top:25px;
	margin-bottom:50px;
	background:#fff url(../images/gunzalez_head.gif)
	}	
#sMenu { position:absolute; top:18px; left:69px; }
#sMenu2 { position:absolute; top:473px; left:67px; }
#divPageTitle { position:absolute; top:99px; left:482px; }
#mContent { position:absolute; top:145px; left:482px; }

/* --- MAIN NAV --- */
#mainNav { position:absolute; top:296px; left:51px; }
#mainNav li { padding:0px; list-style:none; display:inline; }
#mainNav ul { margin:0; padding:0; }
#mainNav li a { color:#666; display:block; font-size:11px; text-decoration:none; padding:2px 0 2px 14px; border-left:1px solid #eaeaea; width:110px;  }
#mainNav li a:hover, #mainNav li a.current { color:#FF6600; border-left:1px solid #FF6600; }

/* --- TOP NAV --- */
#topNav { position:absolute; top:14px; left:51px; }
#topNav li { padding:0px; list-style:none; display:inline; }
#topNav ul { margin:0; padding:0; }
#topNav li a { color:#666; display:block; font-size:11px; text-decoration:none; padding:2px 0 2px 14px; border-left:1px solid #eaeaea; width:110px;  }
#topNav li a:hover { color:#006699; border-left:1px solid #069;