
.tdie { font-family: Verdana, Arial, Courier, helvetica-Black-SemiBold, "Comic Sans MS"; 
		font-size: 11px; 
		font-style: normal; 
		font-weight: normal; 
		color: #272727	}
		
.tdns { font-family: Verdana, Arial, Courier, helvetica-Black-SemiBold, "Comic Sans MS"; 
		font-size: 11px; 
		font-style: normal; 
		font-weight: normal; 
		color: #272727	}

.reglink		{ 	font-family : Verdana, Arial, Courier, helvetica-Black-SemiBold, "Comic Sans MS";
					color : #8a8a8a;
					text-decoration : none;
					font-weight: normal;
					font-size : 11px;	}
a.reglink:hover { 	color : #373737;
					text-decoration: underline	}					