/* Template */
/* ************************************************************** */			
.notused {  	font-family: Arial, Verdana, Courier, helvetica-Black-SemiBold, "Comic Sans MS"; 
				font-size: 11pt; 
				font-style: normal; 
				line-height: normal; 
				font-weight: bold; 
				font-variant: normal;
				/* input fields */
				height: 18px;
				width: 230pt;
				/* input fields */				
				text-decoration: underline	}
/* ************************************************************** */				
				
				
/* Style sheet for text of main content */
/* ************************************************************** */
td 			{  	font-family: Arial, Verdana, Courier, helvetica-Black-SemiBold, "Comic Sans MS"; 
				font-size: 12px; 
				font-style: normal; 
				font-weight: normal; 
				color: #ececec	}
				
p 			{  	color: #cacaca;
				font-size: 12px
				/* margin-left: 0px; */
				/* margin-right: 0px */}

.tdsmall 	{  	font-family: Arial, Verdana, Courier, helvetica-Black-SemiBold, "Comic Sans MS";
				font-size: 11px; 
				font-style: normal; 
				font-weight: normal; 
				color: #cacaca }
				
.tdsmallw 	{  	font-family: Arial, Verdana, Courier, helvetica-Black-SemiBold, "Comic Sans MS";
				font-size: 11px; 
				font-style: normal; 
				font-weight: normal; 
				color: #fefefe }
				
.tdfooter 	{  	font-family: Arial, Verdana, Courier, helvetica-Black-SemiBold, "Comic Sans MS";
				font-size: 11px; 
				font-style: normal; 
				font-weight: normal; 
				color: #cacaca }
/* ************************************************************** */					
					
				
/* Style for links within page */
/* ************************************************************** */			
.reglink		{ 	font-family : Arial, Verdana, Courier, helvetica-Black-SemiBold, "Comic Sans MS";
					color : #FFFFFF;
					text-decoration : underline;
					font-weight: normal;
					font-size : 12px;	}					
a.reglink:hover { 	color: #33CCFF; 
					text-decoration: underline	}

.reglink2		{ 	font-family : Arial, Verdana, Courier, helvetica-Black-SemiBold, "Comic Sans MS";
					color : #FFFFFF;
					text-decoration : underline;
					font-weight: normal;
					font-size : 12px;	}					
a.reglink2:hover { 	color: #FFFFFF; 
					text-decoration: underline	}					
					
.smlink 		{ 	font-family : Arial, Verdana, Courier, helvetica-Black-SemiBold, "Comic Sans MS";
					color : #FFFFFF;
					text-decoration : none;
					font-size : 11px;	}					
a.smlink:hover  { 	color: #FFFFFF;
					text-decoration: underline 	}
/* ************************************************************** */	


/* Special styles to control element on pages */
/* ************************************************************** */
.date 		{  	font-family: Arial, Verdana, Courier, helvetica-Black-SemiBold, "Comic Sans MS";
				font-size: 11px; 
				font-style: normal; 
				font-weight: normal; 
				color: #cacaca	}
			
.header 	{  	font-family: Arial, Verdana, Courier, helvetica-Black-SemiBold, "Comic Sans MS";
				font-size: 16px; 
				font-style: normal; 
				font-weight: bold; 
				color: #ececec	}
/* ************************************************************** */


/* Special styles to control form elements on pages */
/* ************************************************************** */
.input1		{	font-family: Arial, Verdana, Courier, helvetica-Black-SemiBold, "Comic Sans MS";
    			background: #00CCFF;
				color: #030303;
				height: 19px;
				/* width: 230pt; */
				font-size: 12px	}
				
.input2 	{ 	background: #000000; 
				color: #FFFFFF; 
				font-size: 9pt; }
			
.input3 	{  	font-family: Arial, Verdana, Courier, helvetica-Black-SemiBold, "Comic Sans MS";
				font-size: 14px; 
				font-style: normal; 
				font-weight: bold; 
				color: #ececec	}
				
.input4		{	font-family: Arial, Verdana, Courier, helvetica-Black-SemiBold, "Comic Sans MS";
				background: #740A44;
				color: #FFFCCA;				
				font-size: 11px	}
/* ************************************************************** */	
